In [ ]:
import pandas as pd
import numpy as np

In [3]:
url='https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'

In [12]:
data=pd.read_csv(url,  error_bad_lines=False, encoding = 'latin-1')
data.describe(include="all")

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

Question-11 total sum of Animal Fat produced in 2014 and 2017 respectively?

In [47]:
group = data.groupby('Item')

items = group['Y2014'].sum()
print(items['Animal fats'])
items = group['Y2017'].sum()
print(items['Animal fats'])

209460.54
269617.53

Question-12  the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [48]:
print(data['Y2015'].std())
print(data['Y2015'].mean())

1603.4039839423301
135.23596649549236

Question-13 total number and percentage of missing data in 2016 to 2 decimal places?

In [49]:
missing_data = data['Y2016'].isnull().sum()
full_length = len(data['Y2016'])
print(missing_data)
print(missing_data / full_length * 100)

1535
2.5187470259094566

Question-14 Which year had the highest correlation with ‘Element Code’?

In [50]:
elem_code = data['Element Code']
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
correlations = {}
for year in years:
    correlations[year] = elem_code.corr(data[year])

print(max(correlations, key=correlations.get))

Y2014

Question-15 What year has the highest sum of Import Quantity?

In [51]:
group = data.groupby('Element')
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
import_quantity = {}
for year in years:
    elem = group[year].sum()
    import_quantity[year] = elem['Import Quantity']

print(max(import_quantity, key=import_quantity.get))

Y2017

Question-16 What is the total number of the sum of Production in 2014?

In [52]:
group = data.groupby('Element')
print(group['Y2014'].sum()['Production'])

1931287.75

Question-17 Which of these elements had the highest sum in 2018?

In [53]:
group = data.groupby('Element')
elem_sums = dict(group['Y2018'].sum())
print(max(elem_sums, key=elem_sums.get))

Domestic supply quantity

Question-18 Which of these elements had the 3rd lowest sum in 2018?

In [54]:
group=data.groupby('Element')
elem_sums=dict(group['Y2018'].sum())
sorted_elem = sorted(elem_sums.items(), key=lambda item: item[1])
print(sorted_elem[2])

('Protein supply quantity (g/capita/day)', 11833.56)

Question-19 What is the total Import Quantity in Algeria in 2018?

In [55]:
area_group = data.groupby('Area')
algeria = area_group.get_group('Algeria')
elem = algeria.groupby('Element')
print(elem.Y2018.sum()['Import Quantity'])

36238.29

Question-20 What is the total number of unique countries in the dataset?

In [57]:
area_group = data.groupby('Area')
print(len(area_group))

49